
html{
  //base 10
  font-size: 62.5%;
}

body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: $m-size;
  background-color: #ffffff;
}

.header{
  position:relative;
  &__image{
    position:absolute;
    top:10;
    left:0;
    float:left;
    width: 3rem;
  }
  &__title{
    margin-left: 3rem;
  }
}

button{
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
  &:disabled{
    opacity: 0.5;
    cursor: default;
  }

}

.is-active{
  color: #d42150;
  font-weight: 700;
}
a{
  margin-right: 10px;
  text-decoration: none;
}

ul{
  list-style-type:none;
}